<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htnova.mt.order.mapper.CompletedorderMapper" >
  <resultMap id="BaseResultMap" type="com.htnova.mt.order.entity.Completedorder" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_tag_list" property="orderTagList" jdbcType="VARCHAR" />
    <result column="wm_order_id_view" property="wmOrderIdView" jdbcType="BIGINT" />
    <result column="app_poi_code" property="appPoiCode" jdbcType="VARCHAR" />
    <result column="wm_poi_name" property="wmPoiName" jdbcType="VARCHAR" />
    <result column="wm_poi_address" property="wmPoiAddress" jdbcType="VARCHAR" />
    <result column="wm_poi_phone" property="wmPoiPhone" jdbcType="VARCHAR" />
    <result column="recipient_address" property="recipientAddress" jdbcType="VARCHAR" />
    <result column="recipient_address_detail" property="recipientAddressDetail" jdbcType="VARCHAR" />
    <result column="recipient_phone" property="recipientPhone" jdbcType="VARCHAR" />
    <result column="backup_recipient_phone" property="backupRecipientPhone" jdbcType="VARCHAR" />
    <result column="recipient_name" property="recipientName" jdbcType="VARCHAR" />
    <result column="shipping_fee" property="shippingFee" jdbcType="REAL" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="original_price" property="originalPrice" jdbcType="DOUBLE" />
    <result column="caution" property="caution" jdbcType="VARCHAR" />
    <result column="shipper_phone" property="shipperPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="has_invoiced" property="hasInvoiced" jdbcType="INTEGER" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="taxpayer_id" property="taxpayerId" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="VARCHAR" />
    <result column="utime" property="utime" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="VARCHAR" />
    <result column="is_third_shipping" property="isThirdShipping" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="pick_type" property="pickType" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="day_seq" property="daySeq" jdbcType="INTEGER" />
    <result column="is_favorites" property="isFavorites" jdbcType="CHAR" />
    <result column="is_poi_first_order" property="isPoiFirstOrder" jdbcType="CHAR" />
    <result column="is_pre_sale_order" property="isPreSaleOrder" jdbcType="CHAR" />
    <result column="dinners_number" property="dinnersNumber" jdbcType="INTEGER" />
    <result column="logistics_code" property="logisticsCode" jdbcType="VARCHAR" />
    <result column="poi_receive_detail" property="poiReceiveDetail" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="extras" property="extras" jdbcType="VARCHAR" />
    <result column="sku_benefit_detail" property="skuBenefitDetail" jdbcType="VARCHAR" />
    <result column="user_member_info" property="userMemberInfo" jdbcType="VARCHAR" />
    <result column="avg_send_time" property="avgSendTime" jdbcType="VARCHAR" />
    <result column="package_bag_money" property="packageBagMoney" jdbcType="DECIMAL" />
    <result column="estimate_arrival_time" property="estimateArrivalTime" jdbcType="VARCHAR" />
    <result column="package_bag_money_yuan" property="packageBagMoneyYuan" jdbcType="VARCHAR" />
    <result column="poi_receive_detail_yuan" property="poiReceiveDetailYuan" jdbcType="VARCHAR" />
    <result column="total_weight" property="totalWeight" jdbcType="INTEGER" />
    <result column="incmp_code" property="incmpCode" jdbcType="INTEGER" />
    <result column="incmp_modules" property="incmpModules" jdbcType="VARCHAR" />
    <result column="order_phone_number" property="orderPhoneNumber" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="TimeMillis" property="TimeMillis" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_tag_list, wm_order_id_view, app_poi_code, wm_poi_name, wm_poi_address,
    wm_poi_phone, recipient_address, recipient_address_detail, recipient_phone, backup_recipient_phone,
    recipient_name, shipping_fee, total, original_price, caution, shipper_phone, status,
    city_id, has_invoiced, invoice_title, taxpayer_id, ctime, utime, delivery_time, is_third_shipping,
    pay_type, pick_type, latitude, longitude, day_seq, is_favorites, is_poi_first_order,
    is_pre_sale_order, dinners_number, logistics_code, poi_receive_detail, detail, extras,
    sku_benefit_detail, user_member_info, avg_send_time, package_bag_money, estimate_arrival_time,
    package_bag_money_yuan, poi_receive_detail_yuan, total_weight, incmp_code, incmp_modules,
    order_phone_number,date,TimeMillis
  </sql>

    <sql id="Base_Column_List2" >
        a.order_id, order_tag_list, wm_order_id_view, app_poi_code, wm_poi_name, wm_poi_address,
    wm_poi_phone, recipient_address, recipient_address_detail, recipient_phone, backup_recipient_phone,
    recipient_name, shipping_fee, total, original_price, caution, shipper_phone, status,
    city_id, has_invoiced, invoice_title, taxpayer_id, ctime, utime, delivery_time, is_third_shipping,
    pay_type, pick_type, latitude, longitude, day_seq, is_favorites, is_poi_first_order,
    is_pre_sale_order, dinners_number, logistics_code, poi_receive_detail, detail, extras,
    sku_benefit_detail, user_member_info, avg_send_time, package_bag_money, estimate_arrival_time,
    package_bag_money_yuan, poi_receive_detail_yuan, total_weight, incmp_code, incmp_modules,
    order_phone_number,date,TimeMillis,picking_completed
    </sql>

   <!-- 使用#{}点位符时， 不要使用statementType="STATEMENT"声明 -->
    <insert id="insertCompletedorder" parameterType="com.htnova.mt.order.entity.Completedorder">
        insert into completedorder
        (<include refid="Base_Column_List" />)
        values (
       #{orderId},
       #{orderTagList},
        #{wmOrderIdView},
        #{appPoiCode},
       #{wmPoiName},
        #{wmPoiAddress},
        #{wmPoiPhone},
        #{recipientAddress},
        #{recipientAddressDetail},
        #{recipientPhone},
       #{backupRecipientPhone},
       #{recipientName},
       #{shippingFee},
		#{total},
        #{originalPrice},
        #{caution},
        #{shipperPhone},
        #{status},
       #{cityId},
        #{hasInvoiced},
       #{invoiceTitle},
       #{taxpayerId},
      #{ctime},
       #{utime},
       #{deliveryTime},
       #{isThirdShipping},
      #{payType},
       #{pickType},
       #{latitude},
       #{longitude},
       #{daySeq},
       #{isFavorites},
       #{isPoiFirstOrder},
       #{isPreSaleOrder},
        #{dinnersNumber},
      #{logisticsCode},
       #{poiReceiveDetail},
        #{detail},
       #{extras},
       #{skuBenefitDetail},
       #{userMemberInfo},
        #{avgSendTime},
        #{packageBagMoney},
       #{estimateArrivalTime},
        #{packageBagMoneyYuan},
        #{poiReceiveDetailYuan},
       #{totalWeight},
      	#{incmpCode},
        #{incmpModules},
        #{orderPhoneNumber},
        #{date},
         #{TimeMillis}
        )
    </insert>

  <select id="selectByPrimaryKey" resultType="java.util.Map" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from completedorder
    where order_id = #{orderId,jdbcType=BIGINT} limit 0,1;
  </select>


   <select id="selectOrderlistByPage" resultMap="BaseResultMap" parameterType="com.htnova.mt.order.entity.Completedorder" >
    select
     <include refid="Base_Column_List" />
    from completedorder
    <where>
    <if test="orderId!=null  and orderId!=''" >
		and order_id = #{orderId,jdbcType=BIGINT}
		</if>
 <if test="wmPoiName != null and wmPoiName !=''" >
       and  wm_poi_name like concat('%',#{wmPoiName,jdbcType=VARCHAR},'%')
      </if>
      </where>
  </select>

  <select id="selectByAppPoiCode" resultMap="BaseResultMap" parameterType="Map" >
    select
    order_id
    from completedorder
    <where>
      <if test="maxtime!=null and maxtime!=0">
        and TimeMillis >#{maxtime,jdbcType=BIGINT}
        </if>
            <if test="appPoiCode!=null and appPoiCode!='' ">
                and app_poi_code in
                <foreach collection="appPoiCode" item="appPoiCode" separator="," open="(" close=")" >
                 #{appPoiCode,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
 <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>;
  </select>



    <select id="getTotalOrders" parameterType="Map" resultType="Long">
        select count(*) from completedorder
        <where>
        <if test="maxtime!=null and maxtime!=0">
        and TimeMillis >#{maxtime,jdbcType=BIGINT}
        </if>
            <if test="appPoiCode!=null and appPoiCode!='' ">
                and app_poi_code in
                <foreach collection="appPoiCode" item="appPoiCode" separator="," open="(" close=")" >
                 #{appPoiCode,jdbcType=VARCHAR}
                </foreach>

            </if>

        </where>
    </select>

   <select id="findOrderStatusByPoiCode" parameterType="java.lang.String" resultType="com.htnova.mt.order.entity.OrderStatus">
       select status,count(status) as count from completedorder
    where (app_poi_code=#{appPoiCode,jdbcType=VARCHAR} or app_poi_code=#{appEleCode,jdbcType=VARCHAR})
      <![CDATA[ AND date >= #{startTime,jdbcType=VARCHAR} AND date <= #{endTime,jdbcType=VARCHAR} ]]>
    GROUP BY status
   </select>

    <select id="findOrderInfoByPoiCodeAndStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2" />
        FROM completedorder as a
        INNER JOIN (
        select app_poi_code as poiCode,order_id from completedorder where
        (app_poi_code=#{appPoiCode,jdbcType=VARCHAR} or app_poi_code=#{appEleCode,jdbcType=VARCHAR})
        <![CDATA[ AND date >= #{startTime,jdbcType=VARCHAR} AND date <= #{endTime,jdbcType=VARCHAR} ]]>
        and status=#{status,jdbcType=INTEGER}) as b on a.app_poi_code=b.poiCode and a.order_id=b.order_id
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from completedorder
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>


   <update id="updateStatus" parameterType="java.lang.String" >
    update completedorder
    <set >

      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>


  <update id="updateByPrimaryKeySelective" parameterType="com.htnova.mt.order.entity.Completedorder" >
    update completedorder
    <set >
      <if test="orderTagList != null" >
        order_tag_list = #{orderTagList,jdbcType=INTEGER},
      </if>
      <if test="wmOrderIdView != null" >
        wm_order_id_view = #{wmOrderIdView,jdbcType=BIGINT},
      </if>
      <if test="appPoiCode != null" >
        app_poi_code = #{appPoiCode,jdbcType=VARCHAR},
      </if>
      <if test="wmPoiName != null" >
        wm_poi_name = #{wmPoiName,jdbcType=VARCHAR},
      </if>
      <if test="wmPoiAddress != null" >
        wm_poi_address = #{wmPoiAddress,jdbcType=VARCHAR},
      </if>
      <if test="wmPoiPhone != null" >
        wm_poi_phone = #{wmPoiPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddress != null" >
        recipient_address = #{recipientAddress,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddressDetail != null" >
        recipient_address_detail = #{recipientAddressDetail,jdbcType=VARCHAR},
      </if>
      <if test="recipientPhone != null" >
        recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="backupRecipientPhone != null" >
        backup_recipient_phone = #{backupRecipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="recipientName != null" >
        recipient_name = #{recipientName,jdbcType=VARCHAR},
      </if>
      <if test="shippingFee != null" >
        shipping_fee = #{shippingFee,jdbcType=REAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="caution != null" >
        caution = #{caution,jdbcType=VARCHAR},
      </if>
      <if test="shipperPhone != null" >
        shipper_phone = #{shipperPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="hasInvoiced != null" >
        has_invoiced = #{hasInvoiced,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null" >
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="taxpayerId != null" >
        taxpayer_id = #{taxpayerId,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=VARCHAR},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="isThirdShipping != null" >
        is_third_shipping = #{isThirdShipping,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="pickType != null" >
        pick_type = #{pickType,jdbcType=INTEGER},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="daySeq != null" >
        day_seq = #{daySeq,jdbcType=INTEGER},
      </if>
      <if test="isFavorites != null" >
        is_favorites = #{isFavorites,jdbcType=CHAR},
      </if>
      <if test="isPoiFirstOrder != null" >
        is_poi_first_order = #{isPoiFirstOrder,jdbcType=CHAR},
      </if>
      <if test="isPreSaleOrder != null" >
        is_pre_sale_order = #{isPreSaleOrder,jdbcType=CHAR},
      </if>
      <if test="dinnersNumber != null" >
        dinners_number = #{dinnersNumber,jdbcType=INTEGER},
      </if>
      <if test="logisticsCode != null" >
        logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      </if>
      <if test="poiReceiveDetail != null" >
        poi_receive_detail = #{poiReceiveDetail,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="extras != null" >
        extras = #{extras,jdbcType=VARCHAR},
      </if>
      <if test="skuBenefitDetail != null" >
        sku_benefit_detail = #{skuBenefitDetail,jdbcType=VARCHAR},
      </if>
      <if test="userMemberInfo != null" >
        user_member_info = #{userMemberInfo,jdbcType=VARCHAR},
      </if>
      <if test="avgSendTime != null" >
        avg_send_time = #{avgSendTime,jdbcType=VARCHAR},
      </if>
      <if test="packageBagMoney != null" >
        package_bag_money = #{packageBagMoney,jdbcType=DECIMAL},
      </if>
      <if test="estimateArrivalTime != null" >
        estimate_arrival_time = #{estimateArrivalTime,jdbcType=VARCHAR},
      </if>
      <if test="packageBagMoneyYuan != null" >
        package_bag_money_yuan = #{packageBagMoneyYuan,jdbcType=VARCHAR},
      </if>
      <if test="poiReceiveDetailYuan != null" >
        poi_receive_detail_yuan = #{poiReceiveDetailYuan,jdbcType=VARCHAR},
      </if>
      <if test="totalWeight != null" >
        total_weight = #{totalWeight,jdbcType=INTEGER},
      </if>
      <if test="incmpCode != null" >
        incmp_code = #{incmpCode,jdbcType=INTEGER},
      </if>
      <if test="incmpModules != null" >
        incmp_modules = #{incmpModules,jdbcType=VARCHAR},
      </if>
      <if test="orderPhoneNumber != null" >
        order_phone_number = #{orderPhoneNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htnova.mt.order.entity.Completedorder" >
    update completedorder
    set order_tag_list = #{orderTagList,jdbcType=INTEGER},
      wm_order_id_view = #{wmOrderIdView,jdbcType=BIGINT},
      app_poi_code = #{appPoiCode,jdbcType=VARCHAR},
      wm_poi_name = #{wmPoiName,jdbcType=VARCHAR},
      wm_poi_address = #{wmPoiAddress,jdbcType=VARCHAR},
      wm_poi_phone = #{wmPoiPhone,jdbcType=VARCHAR},
      recipient_address = #{recipientAddress,jdbcType=VARCHAR},
      recipient_address_detail = #{recipientAddressDetail,jdbcType=VARCHAR},
      recipient_phone = #{recipientPhone,jdbcType=VARCHAR},
      backup_recipient_phone = #{backupRecipientPhone,jdbcType=VARCHAR},
      recipient_name = #{recipientName,jdbcType=VARCHAR},
      shipping_fee = #{shippingFee,jdbcType=REAL},
      total = #{total,jdbcType=DOUBLE},
      original_price = #{originalPrice,jdbcType=DOUBLE},
      caution = #{caution,jdbcType=VARCHAR},
      shipper_phone = #{shipperPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=INTEGER},
      has_invoiced = #{hasInvoiced,jdbcType=INTEGER},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      taxpayer_id = #{taxpayerId,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=VARCHAR},
      utime = #{utime,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=VARCHAR},
      is_third_shipping = #{isThirdShipping,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=INTEGER},
      pick_type = #{pickType,jdbcType=INTEGER},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      day_seq = #{daySeq,jdbcType=INTEGER},
      is_favorites = #{isFavorites,jdbcType=CHAR},
      is_poi_first_order = #{isPoiFirstOrder,jdbcType=CHAR},
      is_pre_sale_order = #{isPreSaleOrder,jdbcType=CHAR},
      dinners_number = #{dinnersNumber,jdbcType=INTEGER},
      logistics_code = #{logisticsCode,jdbcType=VARCHAR},
      poi_receive_detail = #{poiReceiveDetail,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      extras = #{extras,jdbcType=VARCHAR},
      sku_benefit_detail = #{skuBenefitDetail,jdbcType=VARCHAR},
      user_member_info = #{userMemberInfo,jdbcType=VARCHAR},
      avg_send_time = #{avgSendTime,jdbcType=VARCHAR},
      package_bag_money = #{packageBagMoney,jdbcType=DECIMAL},
      estimate_arrival_time = #{estimateArrivalTime,jdbcType=VARCHAR},
      package_bag_money_yuan = #{packageBagMoneyYuan,jdbcType=VARCHAR},
      poi_receive_detail_yuan = #{poiReceiveDetailYuan,jdbcType=VARCHAR},
      total_weight = #{totalWeight,jdbcType=INTEGER},
      incmp_code = #{incmpCode,jdbcType=INTEGER},
      incmp_modules = #{incmpModules,jdbcType=VARCHAR},
      order_phone_number = #{orderPhoneNumber,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
    <sql id="SelectColumns">
        a.id as `id`,
		a.order_id as `orderId`,
		a.order_tag_list as `orderTagList`,
		a.wm_order_id_view as `wmOrderIdView`,
		a.app_poi_code as `appPoiCode`,
		a.wm_poi_name as `wmPoiName`,
		a.wm_poi_address as `wmPoiAddress`,
		a.wm_poi_phone as `wmPoiPhone`,
		a.recipient_address as `recipientAddress`,
		a.recipient_address_detail as `recipientAddressDetail`,
		a.recipient_phone as `recipientPhone`,
		a.backup_recipient_phone as `backupRecipientPhone`,
		a.recipient_name as `recipientName`,
		a.shipping_fee as `shippingFee`,
		a.total as `total`,
		a.original_price as `originalPrice`,
		a.caution as `caution`,
		a.shipper_phone as `shipperPhone`,
		a.status as `status`,
		a.city_id as `cityId`,
		a.has_invoiced as `hasInvoiced`,
		a.invoice_title as `invoiceTitle`,
		a.taxpayer_id as `taxpayerId`,
		a.ctime as `ctime`,
		a.utime as `utime`,
		a.delivery_time as `deliveryTime`,
		a.is_third_shipping as `isThirdShipping`,
		a.pay_type as `payType`,
		a.pick_type as `pickType`,
		a.latitude as `latitude`,
		a.longitude as `longitude`,
		a.day_seq as `daySeq`,
		a.is_favorites as `isFavorites`,
		a.is_poi_first_order as `isPoiFirstOrder`,
		a.is_pre_sale_order as `isPreSaleOrder`,
		a.dinners_number as `dinnersNumber`,
		a.logistics_code as `logisticsCode`,
		a.poi_receive_detail as `poiReceiveDetail`,
		a.detail as `detail`,
		a.extras as `extras`,
		a.sku_benefit_detail as `skuBenefitDetail`,
		a.user_member_info as `userMemberInfo`,
		a.avg_send_time as `avgSendTime`,
		a.package_bag_money as `packageBagMoney`,
		a.estimate_arrival_time as `estimateArrivalTime`,
		a.package_bag_money_yuan as `packageBagMoneyYuan`,
		a.poi_receive_detail_yuan as `poiReceiveDetailYuan`,
		a.total_weight as `totalWeight`,
		a.incmp_code as `incmpCode`,
		a.incmp_modules as `incmpModules`,
		a.order_phone_number as `orderPhoneNumber`,
		a.date as `date`,
		a.timemillis as `timemillis`,
		a.picking_completed as `pickingCompleted`,
		a.je as `je`,
		a.tkje as `tkje`,
		a.cf_je as `cfJe`,
		a.yyflv as `yyflv`,
		a.yyf_je as `yyfJe`,
		a.zji as `zji`,
		a.fzje as `fzje`,
		a.skje as `skje`,
		a.tzje as `tzje`,
		a.ch_id as `chId`,
		a.ch_fy_cf as `chFyCf`,
		a.ch_fy_yyf as `chFyYyf`,
		a.ch_zji as `chZji`,
		a.ch_tzje as `chTzje`
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
        <include refid="SelectColumns"/>
        FROM completedorder a WHERE a.del_flag = #{completedOrderDto.delFlag}

        <if test="completedOrderDto.id != null">
            AND a.id = #{completedOrderDto.id}
        </if>
        <if test="completedOrderDto.orderId != null">
            AND a.order_id = #{completedOrderDto.orderId}
        </if>
        <if test="completedOrderDto.orderTagList != null and completedOrderDto.orderTagList != ''">
            AND a.order_tag_list = #{completedOrderDto.orderTagList}
        </if>
        <if test="completedOrderDto.wmOrderIdView != null">
            AND a.wm_order_id_view = #{completedOrderDto.wmOrderIdView}
        </if>
        <if test="completedOrderDto.appPoiCode != null and completedOrderDto.appPoiCode != ''">
            AND a.app_poi_code = #{completedOrderDto.appPoiCode}
        </if>
        <if test="completedOrderDto.wmPoiName != null and completedOrderDto.wmPoiName != ''">
            AND a.wm_poi_name = #{completedOrderDto.wmPoiName}
        </if>
        <if test="completedOrderDto.wmPoiAddress != null and completedOrderDto.wmPoiAddress != ''">
            AND a.wm_poi_address = #{completedOrderDto.wmPoiAddress}
        </if>
        <if test="completedOrderDto.wmPoiPhone != null and completedOrderDto.wmPoiPhone != ''">
            AND a.wm_poi_phone = #{completedOrderDto.wmPoiPhone}
        </if>
        <if test="completedOrderDto.recipientAddress != null and completedOrderDto.recipientAddress != ''">
            AND a.recipient_address = #{completedOrderDto.recipientAddress}
        </if>
        <if test="completedOrderDto.recipientAddressDetail != null and completedOrderDto.recipientAddressDetail != ''">
            AND a.recipient_address_detail = #{completedOrderDto.recipientAddressDetail}
        </if>
        <if test="completedOrderDto.recipientPhone != null and completedOrderDto.recipientPhone != ''">
            AND a.recipient_phone = #{completedOrderDto.recipientPhone}
        </if>
        <if test="completedOrderDto.backupRecipientPhone != null and completedOrderDto.backupRecipientPhone != ''">
            AND a.backup_recipient_phone = #{completedOrderDto.backupRecipientPhone}
        </if>
        <if test="completedOrderDto.recipientName != null and completedOrderDto.recipientName != ''">
            AND a.recipient_name = #{completedOrderDto.recipientName}
        </if>
        <if test="completedOrderDto.shippingFee != null">
            AND a.shipping_fee = #{completedOrderDto.shippingFee}
        </if>
        <if test="completedOrderDto.total != null">
            AND a.total = #{completedOrderDto.total}
        </if>
        <if test="completedOrderDto.originalPrice != null">
            AND a.original_price = #{completedOrderDto.originalPrice}
        </if>
        <if test="completedOrderDto.caution != null and completedOrderDto.caution != ''">
            AND a.caution = #{completedOrderDto.caution}
        </if>
        <if test="completedOrderDto.shipperPhone != null and completedOrderDto.shipperPhone != ''">
            AND a.shipper_phone = #{completedOrderDto.shipperPhone}
        </if>
        <if test="completedOrderDto.status != null and completedOrderDto.status != ''">
            AND a.status = #{completedOrderDto.status}
        </if>
        <if test="completedOrderDto.cityId != null">
            AND a.city_id = #{completedOrderDto.cityId}
        </if>
        <if test="completedOrderDto.hasInvoiced != null">
            AND a.has_invoiced = #{completedOrderDto.hasInvoiced}
        </if>
        <if test="completedOrderDto.invoiceTitle != null and completedOrderDto.invoiceTitle != ''">
            AND a.invoice_title = #{completedOrderDto.invoiceTitle}
        </if>
        <if test="completedOrderDto.taxpayerId != null and completedOrderDto.taxpayerId != ''">
            AND a.taxpayer_id = #{completedOrderDto.taxpayerId}
        </if>
        <if test="completedOrderDto.ctime != null and completedOrderDto.ctime != ''">
            AND a.ctime = #{completedOrderDto.ctime}
        </if>
        <if test="completedOrderDto.utime != null and completedOrderDto.utime != ''">
            AND a.utime = #{completedOrderDto.utime}
        </if>
        <if test="completedOrderDto.deliveryTime != null and completedOrderDto.deliveryTime != ''">
            AND a.delivery_time = #{completedOrderDto.deliveryTime}
        </if>
        <if test="completedOrderDto.isThirdShipping != null">
            AND a.is_third_shipping = #{completedOrderDto.isThirdShipping}
        </if>
        <if test="completedOrderDto.payType != null">
            AND a.pay_type = #{completedOrderDto.payType}
        </if>
        <if test="completedOrderDto.pickType != null">
            AND a.pick_type = #{completedOrderDto.pickType}
        </if>
        <if test="completedOrderDto.latitude != null and completedOrderDto.latitude != ''">
            AND a.latitude = #{completedOrderDto.latitude}
        </if>
        <if test="completedOrderDto.longitude != null and completedOrderDto.longitude != ''">
            AND a.longitude = #{completedOrderDto.longitude}
        </if>
        <if test="completedOrderDto.daySeq != null">
            AND a.day_seq = #{completedOrderDto.daySeq}
        </if>
        <if test="completedOrderDto.isFavorites != null and completedOrderDto.isFavorites != ''">
            AND a.is_favorites = #{completedOrderDto.isFavorites}
        </if>
        <if test="completedOrderDto.isPoiFirstOrder != null and completedOrderDto.isPoiFirstOrder != ''">
            AND a.is_poi_first_order = #{completedOrderDto.isPoiFirstOrder}
        </if>
        <if test="completedOrderDto.isPreSaleOrder != null and completedOrderDto.isPreSaleOrder != ''">
            AND a.is_pre_sale_order = #{completedOrderDto.isPreSaleOrder}
        </if>
        <if test="completedOrderDto.dinnersNumber != null">
            AND a.dinners_number = #{completedOrderDto.dinnersNumber}
        </if>
        <if test="completedOrderDto.logisticsCode != null and completedOrderDto.logisticsCode != ''">
            AND a.logistics_code = #{completedOrderDto.logisticsCode}
        </if>
        <if test="completedOrderDto.poiReceiveDetail != null and completedOrderDto.poiReceiveDetail != ''">
            AND a.poi_receive_detail = #{completedOrderDto.poiReceiveDetail}
        </if>
        <if test="completedOrderDto.detail != null and completedOrderDto.detail != ''">
            AND a.detail = #{completedOrderDto.detail}
        </if>
        <if test="completedOrderDto.extras != null and completedOrderDto.extras != ''">
            AND a.extras = #{completedOrderDto.extras}
        </if>
        <if test="completedOrderDto.skuBenefitDetail != null and completedOrderDto.skuBenefitDetail != ''">
            AND a.sku_benefit_detail = #{completedOrderDto.skuBenefitDetail}
        </if>
        <if test="completedOrderDto.userMemberInfo != null and completedOrderDto.userMemberInfo != ''">
            AND a.user_member_info = #{completedOrderDto.userMemberInfo}
        </if>
        <if test="completedOrderDto.avgSendTime != null and completedOrderDto.avgSendTime != ''">
            AND a.avg_send_time = #{completedOrderDto.avgSendTime}
        </if>
        <if test="completedOrderDto.packageBagMoney != null">
            AND a.package_bag_money = #{completedOrderDto.packageBagMoney}
        </if>
        <if test="completedOrderDto.estimateArrivalTime != null and completedOrderDto.estimateArrivalTime != ''">
            AND a.estimate_arrival_time = #{completedOrderDto.estimateArrivalTime}
        </if>
        <if test="completedOrderDto.packageBagMoneyYuan != null and completedOrderDto.packageBagMoneyYuan != ''">
            AND a.package_bag_money_yuan = #{completedOrderDto.packageBagMoneyYuan}
        </if>
        <if test="completedOrderDto.poiReceiveDetailYuan != null and completedOrderDto.poiReceiveDetailYuan != ''">
            AND a.poi_receive_detail_yuan = #{completedOrderDto.poiReceiveDetailYuan}
        </if>
        <if test="completedOrderDto.totalWeight != null">
            AND a.total_weight = #{completedOrderDto.totalWeight}
        </if>
        <if test="completedOrderDto.incmpCode != null">
            AND a.incmp_code = #{completedOrderDto.incmpCode}
        </if>
        <if test="completedOrderDto.incmpModules != null and completedOrderDto.incmpModules != ''">
            AND a.incmp_modules = #{completedOrderDto.incmpModules}
        </if>
        <if test="completedOrderDto.orderPhoneNumber != null and completedOrderDto.orderPhoneNumber != ''">
            AND a.order_phone_number = #{completedOrderDto.orderPhoneNumber}
        </if>
        <if test="completedOrderDto.date != null and completedOrderDto.date != ''">
            AND a.date = #{completedOrderDto.date}
        </if>
        <if test="completedOrderDto.timemillis != null">
            AND a.timemillis = #{completedOrderDto.timemillis}
        </if>
        <if test="completedOrderDto.pickingCompleted != null">
            AND a.picking_completed = #{completedOrderDto.pickingCompleted}
        </if>
        <if test="completedOrderDto.je != null">
            AND a.je = #{completedOrderDto.je}
        </if>
        <if test="completedOrderDto.tkje != null">
            AND a.tkje = #{completedOrderDto.tkje}
        </if>
        <if test="completedOrderDto.cfJe != null">
            AND a.cf_je = #{completedOrderDto.cfJe}
        </if>
        <if test="completedOrderDto.yyflv != null">
            AND a.yyflv = #{completedOrderDto.yyflv}
        </if>
        <if test="completedOrderDto.yyfJe != null">
            AND a.yyf_je = #{completedOrderDto.yyfJe}
        </if>
        <if test="completedOrderDto.zji != null">
            AND a.zji = #{completedOrderDto.zji}
        </if>
        <if test="completedOrderDto.fzje != null">
            AND a.fzje = #{completedOrderDto.fzje}
        </if>
        <if test="completedOrderDto.skje != null">
            AND a.skje = #{completedOrderDto.skje}
        </if>
        <if test="completedOrderDto.tzje != null">
            AND a.tzje = #{completedOrderDto.tzje}
        </if>
        <if test="completedOrderDto.chId != null and completedOrderDto.chId != ''">
            AND a.ch_id = #{completedOrderDto.chId}
        </if>
        <if test="completedOrderDto.chFyCf != null">
            AND a.ch_fy_cf = #{completedOrderDto.chFyCf}
        </if>
        <if test="completedOrderDto.chFyYyf != null">
            AND a.ch_fy_yyf = #{completedOrderDto.chFyYyf}
        </if>
        <if test="completedOrderDto.chZji != null">
            AND a.ch_zji = #{completedOrderDto.chZji}
        </if>
        <if test="completedOrderDto.chTzje != null">
            AND a.ch_tzje = #{completedOrderDto.chTzje}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="CompletedOrder">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="CompletedOrder">
        <include refid="findList"/>
    </select>


</mapper>
