<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htnova.mt.order.mapper.DetailMapper" >
  <resultMap id="BaseResultMap" type="com.htnova.mt.order.entity.Detail" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="actual_price" property="actualPrice" jdbcType="DOUBLE" />
    <result column="app_food_code" property="appFoodCode" jdbcType="VARCHAR" />
    <result column="app_medicine_code" property="appMedicineCode" jdbcType="VARCHAR" />
    <result column="box_num" property="boxNum" jdbcType="INTEGER" />
    <result column="box_price" property="boxPrice" jdbcType="DOUBLE" />
    <result column="detail_extra" property="detailExtra" jdbcType="VARCHAR" />
    <result column="food_discount" property="foodDiscount" jdbcType="INTEGER" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_property" property="foodProperty" jdbcType="VARCHAR" />
    <result column="mt_sku_id" property="mtSkuId" jdbcType="VARCHAR" />
    <result column="mt_spu_id" property="mtSpuId" jdbcType="VARCHAR" />
    <result column="mt_tag_id" property="mtTagId" jdbcType="VARCHAR" />
    <result column="original_price" property="originalPrice" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="weight_for_unit" property="weightForUnit" jdbcType="VARCHAR" />
    <result column="weight_unit" property="weightUnit" jdbcType="VARCHAR" />
    <result column="if_refund" property="ifRefund" jdbcType="INTEGER" />
    <result column="total_refund_price" property="totalRefundPrice" jdbcType="VARCHAR" />
    <result column="count_refund" property="countRefund" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, actual_price, app_food_code, app_medicine_code, box_num, box_price, detail_extra,
    food_discount, food_name, food_property, mt_sku_id, mt_spu_id, mt_tag_id, original_price,
    price, quantity, sku_id, spec, unit, upc, weight, weight_for_unit, weight_unit,if_refund,total_refund_price,count_refund
  </sql>


  <insert id="insertDetail"  parameterType="java.util.List" useGeneratedKeys="false">
  insert into detail (
  <include refid="Base_Column_List" />
  ) values
  <foreach collection="lists" item="it"  separator=",">
  (
#{it.orderId},
#{it.actualPrice},
#{it.appFoodCode},
#{it.appMedicineCode},
#{it.boxNum},
#{it.boxPrice},
#{it.detailExtra},
#{it.foodDiscount},
#{it.foodName},
#{it.foodProperty},
#{it.mtSkuId},
#{it.mtSpuId},
#{it.mtTagId},
#{it.originalPrice},
#{it.price},
#{it.quantity},
#{it.skuId},
#{it.spec},
#{it.unit},
#{it.upc},
#{it.weight},
#{it.weightForUnit},
#{it.weightUnit},
#{it.ifRefund},
#{it.totalRefundPrice},
#{it.countRefund}
)
</foreach>
 </insert>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from detail
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from detail
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.htnova.mt.order.entity.Detail" >
    update detail
    <set >
      <if test="actualPrice != null" >
        actual_price = #{actualPrice,jdbcType=DOUBLE},
      </if>
      <if test="appFoodCode != null" >
        app_food_code = #{appFoodCode,jdbcType=VARCHAR},
      </if>
      <if test="appMedicineCode != null" >
        app_medicine_code = #{appMedicineCode,jdbcType=VARCHAR},
      </if>
      <if test="boxNum != null" >
        box_num = #{boxNum,jdbcType=INTEGER},
      </if>
      <if test="boxPrice != null" >
        box_price = #{boxPrice,jdbcType=DOUBLE},
      </if>
      <if test="detailExtra != null" >
        detail_extra = #{detailExtra,jdbcType=VARCHAR},
      </if>
      <if test="foodDiscount != null" >
        food_discount = #{foodDiscount,jdbcType=INTEGER},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodProperty != null" >
        food_property = #{foodProperty,jdbcType=VARCHAR},
      </if>
      <if test="mtSkuId != null" >
        mt_sku_id = #{mtSkuId,jdbcType=VARCHAR},
      </if>
      <if test="mtSpuId != null" >
        mt_spu_id = #{mtSpuId,jdbcType=VARCHAR},
      </if>
      <if test="mtTagId != null" >
        mt_tag_id = #{mtTagId,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="upc != null" >
        upc = #{upc,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="weightForUnit != null" >
        weight_for_unit = #{weightForUnit,jdbcType=VARCHAR},
      </if>
      <if test="weightUnit != null" >
        weight_unit = #{weightUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htnova.mt.order.entity.Detail" >
    update detail
    set actual_price = #{actualPrice,jdbcType=DOUBLE},
      app_food_code = #{appFoodCode,jdbcType=VARCHAR},
      app_medicine_code = #{appMedicineCode,jdbcType=VARCHAR},
      box_num = #{boxNum,jdbcType=INTEGER},
      box_price = #{boxPrice,jdbcType=DOUBLE},
      detail_extra = #{detailExtra,jdbcType=VARCHAR},
      food_discount = #{foodDiscount,jdbcType=INTEGER},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_property = #{foodProperty,jdbcType=VARCHAR},
      mt_sku_id = #{mtSkuId,jdbcType=VARCHAR},
      mt_spu_id = #{mtSpuId,jdbcType=VARCHAR},
      mt_tag_id = #{mtTagId,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      quantity = #{quantity,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      upc = #{upc,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      weight_for_unit = #{weightForUnit,jdbcType=VARCHAR},
      weight_unit = #{weightUnit,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>
