<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.mt.order.mapper.UserPoiMapper">
    <sql id="SelectColumns">
		a.id as `id`,
		b.username as userName,
		b.name as `name`,
		a.u_id as `uId`,
		a.auto_orders as `autoOrders`,
		a.poi_id as `poiId`,
		a.poi_name as `poiName`,
		a.poi_status as poiStatus,
		a.ele_id as eleId,
    	a.ele_name as eleName,
    	a.ele_status as eleStatus,
		a.app_id as `appId`,
		a.remark as `remark`,
		a.create_by as `createBy`,
        a.creator_name as `creatorName`,
		a.create_time as `createTime`,
		a.update_by as `updateBy`,
		a.update_time as `updateTime`,
		a.del_flag as `delFlag`
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM t_sys_user_poi a
		INNER JOIN t_sys_user as b on a.u_id=b.id
        WHERE a.del_flag = #{userPoiDto.delFlag}
		<if test="userPoiDto.uId != null">
			AND a.u_id = #{userPoiDto.uId}
		</if>
		<if test="userPoiDto.poiId != null">
			AND a.poi_id = #{userPoiDto.poiId}
		</if>
		<if test="userPoiDto.poiName != null and userPoiDto.poiName != ''">
			AND a.poi_name = #{userPoiDto.poiName}
		</if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="UserPoi">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="UserPoi">
        <include refid="findList"/>
    </select>

</mapper>
